name: Build Docs & Publish Package

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  release:
    types: [published]

jobs:
  build_docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install MkDocs
        run: |
          pip install -U pip
          pip install mkdocs mkdocs-material "mkdocstrings[python]" mkdocs-jupyter

      - name: Build documentation
        run: mkdocs build --clean -f docs/mkdocs.yml

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: docs/site
          github_token: ${{ secrets.GITHUB_TOKEN }}

  publish_testpypi:
    runs-on: ubuntu-latest
    needs: build_docs
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install build tools
        run: |
          pip install -U pip
          pip install build twine setuptools_scm

      - name: Build package
        run: python -m build

      - name: Upload to TestPyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
        run: twine upload --repository testpypi dist/*

  publish_pypi:
    runs-on: ubuntu-latest
    needs: publish_testpypi
    if: github.event_name == 'release'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install build tools
        run: |
          pip install -U pip
          pip install build twine setuptools_scm

      - name: Build package
        run: python -m build

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: twine upload dist/*
