name: Build & upload to TestPyPI on every push to main

on:
  push:
    branches:
      - main

jobs:
  publish_testpypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0     # ⬅ important
          fetch-tags: true   # ⬅ important

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Build Tools
        run: |
          pip install --upgrade pip
          pip install build twine setuptools_scm

      - name: Build package
        run: python -m build

      - name: Upload to TestPyPI
        run: |
          twine upload --repository testpypi dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
